{% extends 'layout.html' %}
{% block title %} Propiedad {{ id_propiedad }} {% endblock %}
{% load static %}
{% block content %}

<section class="mt-5 mt-lg-4">
   <div class="container">
      <div class="row align-items-center ">
         <div class="col-lg-12">
             <div class="heading-container">
                 <h3>Propiedad <span class="badge bg-secondary">{{id_propiedad}}</span></h3>
                 <div class="heading-decoration"></div>
             </div>
         </div>
     </div>
     <hr>
   </div>
</section>

<div class="container">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <p class="card-text text-muted propiedad-locacion"></p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 mb-lg-0 mb-2">
                        <img src="" class="card-img-top card-img-bottom propiedad-img">
                    </div>
                    <div class="col-lg-6">
                        <div class="card-body">
                            <h3 class="card-title">
                                <b>
                                    <p class="propiedad-tipo"></p>
                                </b>
                            </h3>
                            <p class="card-text motivacion-departamento" hidden>
                                ¡Haz tuyo el estilo de vida urbano! Disfruta de la comodidad y modernidad de un departamento. 
                                Vive rodeado de la energía de la ciudad, con todas las facilidades al alcance de tu mano. 
                                Es momento de dar el salto y encontrar tu espacio perfecto.
                            </p>
                            <p class="card-text motivacion-casa" hidden>
                                ¡Encuentra el hogar de tus sueños! Una casa es mucho más que un lugar, es el refugio donde se 
                                construyen momentos inolvidables. Disfruta de la libertad de tener tu propio espacio, con jardín, 
                                tranquilidad y la satisfacción de tener un lugar que llamar hogar.
                            </p>
                            <p class="card-text mt-5">
                                <div class="d-flex justify-content-between">
                                    <h4 class="card-text text-muted text-start propiedad-es"></h4>
                                    <h4 class="card-text text-muted text-end propiedad-valor"></h4>
                                </div>
                            </p>
                            <div class="text-end">
                                <a href="#" class="btn btn-primary btn-visita" hidden>Agendar Visita</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mt-lg-2 mt-4">
                    <div class="col-lg-12">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h4 class="card-title text-muted"><b>Especificaciones</b></h4></li>
                            <li class="list-group-item car-1"><i class="fa-solid fa-table-cells-large"></i></li>
                            <li class="list-group-item car-2"><i class="fa-solid fa-table-cells-large"></i></li>
                            <li class="list-group-item car-3"><i class="fa-solid fa-mattress-pillow"></i></li>
                            <li class="list-group-item car-4"><i class="fa-solid fa-restroom"></i></li>
                            <li class="list-group-item car-5"><i class="fa-solid fa-paw"></i></li>
                            <li class="list-group-item car-6"><i class="fa-solid fa-warehouse"></i></li>
                            <li class="list-group-item car-7"><i class="fa-solid fa-car-side"></i></li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    var id_propiedad = "{{id_propiedad}}";
    var staticUrl = "{% static 'images/' %}";
</script>
<script src="{% static 'js/caracteristicas_propiedad.js'%}"></script>
{% endblock %}