{% extends 'layout.html' %}
{% block title %} Registrar Propiedad {% endblock %}
{% load static %}
{% block content %}

<section>
   <div class="container">
      <div class="row align-items-center mt-3 mt-lg-4">
         <div class="col-md-12">
             <div class="heading-container">
                 <h3>Propiedad</h3>
                 <div class="heading-decoration"></div>
             </div>
         </div>
     </div>
   </div>
</section>


{% endblock %}

{% block js %}
<script src="{% static 'js/caracteristicas_propiedad.js'%}"></script>
{% endblock %}