{% extends 'layout.html' %}
{% load static %}
{% block title %} Contacto {% endblock %}
{% block content %}

<div class="imgtop">  
</div>

<div class="container mt-5">
    <div class="heading-container mb-5">
        <h1>¡Canales oficiales de contacto!</h1>
        <div class="heading-decoration"></div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 ml-2">
            <div class="card tarjeta">
                <img src="{% static 'images/mail.png' %}" class="card-img-top" >
                <div class="card-body ">
                    <h1 class="card-title mb-5 ">Correo Electronico</h1>
                    <p class="card-text j-text">Si usted lo prefiere puede enviarnos un correo electronico a contacto@hogaresdeluxe.cl
                        Nuestro equipo de atención al cliente responderá su mensaje lo antes posible.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mx-5">
            <div class="card tarjeta">
                <img src="{% static 'images/depaicono.png' %}" class="card-img-top mt-2" >      
                <div class="card-body">
                    <h1 class="card-title mb-4 mt-2 ">Local de Venta</h1>
                    <p class="card-text j-text">También puedes visitar nuestro local de venta ubicado en Carvajal 358, San Miguel, La Cisterna, Región Metropolitana</p>
                    <a class="btn btn-primary" href="local-de-venta" role="button">Ubicacion en mapa</a> 
                </div>
            </div>
        </div>
        
        <div class="col-md-3 mr-2">
            <div class="card tarjeta">
                <img src="{% static 'images/telefono.png' %}" class="card-img-top" >
                <div class="card-body j-text">
                    <h1 class="card-title ">Contacto Telefonico</h1>
                    <p>Si prefieres contactarnos por teléfono, por favor llámanos al +56 9 2910 1829. 
                        Nuestro equipo de atención al cliente estará encantado de ayudarte con cualquier pregunta o problema que tengas.</p>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}