{% extends 'layout.html' %}
{% load static %}
{% block title %} Contacto {% endblock %}
{% block content %}

<div class="imgtop">
    <div class="timg">
    </div>
</div>
<!-- <div class="hading-container">
    <h2>Canales oficiales de contacto</h2>
</div>
<div class="container mt-5">
    <div class="row">

        <div class="col-md-3">Servicio Postventa
            ¿Tienes un problema con tu vivienda?
            postventa@iaconcagua.com</div>
        <div class="col-md-3">Servicio al Cliente
            ¿Dudas sobre las etapas del proceso de compra y uso de la vivienda?
            servicioalcliente@iaconcagua.com</div>
        <div class="col-md-3">Servicio al Cliente
            ¿Dudas sobre las etapas del proceso de compra y uso de la vivienda?
            servicioalcliente@iaconcagua.com</div>
        <div class="col-md-3">Comunidades
            ¿Eres administrador o formas parte del comité? Conversemos
            comunidades@iaconcagua.com</div>
    </div>

</div> -->

<div class="container mt-5">
    <div class="heading-container mb-5">
        <h2>Canales oficiales de contacto</h2>
        <div class="heading-decoration"></div>
    </div>
    <div class="row">
        <div class="col-md-4 text-justify">
            <p>Servicio Postventa
                ¿Tienes un problema con tu vivienda?
                postventa@iaconcagua.com</p>
        </div>
        <div class="col-md-4 text-justify">
            <p>Servicio al Cliente
                ¿Dudas sobre las etapas del proceso de compra y uso de la vivienda?
                servicioalcliente@iaconcagua.com</p>
        </div>
        <div class="col-md-4 text-justify">
            <p>Comunidades
                ¿Eres administrador o formas parte del comité? Conversemos
                comunidades@iaconcagua.com</p>
        </div>
    </div>
</div>



{% endblock %}