{% extends 'layout.html' %}
{% load static %}
{% block title %} Contacto {% endblock %}
{% block content %}

<div class="imgtop">  
</div>

<div class="container mt-5">
    <div class="heading-container mb-5">
        <h1>¡Canales oficiales de contacto!</h1>
        <div class="heading-decoration"></div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card tarjeta">
                <img src="{% static 'images/mail.png' %}" class="card-img-top">
                <div class="card-body ">
                    <h3 class="card-title text-center mb-5"><b>Correo Electrónico</b></h3>
                    <p class="card-text j-text">Si usted lo prefiere puede enviarnos un correo electronico a contacto@hogaresdeluxe.cl
                        Nuestro equipo de atención al cliente responderá su mensaje lo antes posible.</p>
                </div>
            </div>
        </div>        
        <div class="col-md-4">
            <div class="card tarjeta">
                <img src="{% static 'images/telefono.png' %}" class="card-img-top">
                <div class="card-body j-text">
                    <h3 class="card-title text-center mb-5"><b>Contacto Teléfonico</b></h3>
                    <p>Si prefieres contactarnos por teléfono, por favor llámanos al +56 9 2910 1829. 
                        Nuestro equipo de atención al cliente estará encantado de ayudarte con cualquier pregunta o problema que tengas.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="heroe" class="mt-5">
    <div class="heroe-container" data-aos="fade-up">
      <h1>¡Te asesoramos!</h1>
    </div>
</section>

<div class="container mt-5 mb-5">
    <div class="row align-items-center mb-4">
        <div class="heading-container">
            <h1>¡Ponte en contacto con nosotros!</h1>
            <div class="heading-decoration"></div>
        </div>
    </div>
    <hr class="hr">
    <div class="row">
        <div class="heading-container mt-2 mb-3">Complete el formulario en caso de tener preguntas</div>
        <div class="col-md-6">
            <form action="https://formsubmit.co/es.ruminot@duocuc.cl" method="POST" class="needs-validation" novalidate>
                <div class="card card-body formulario" >
                    <div class="mb-3">
                        <label for="nombre" class="form-label"> Nombre: </label>
                        <input type="text" class="form-control" name="nombre" id="nombre" required>
                       

                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label"> Correo: </label>
                        <input type="text" class="form-control" name="email" placeholder="nombre@ejemplo.com" id="email" aria-describedby="mensajeAyuda" required>
                       
                          <div class="invalid-feedback" id="EmailFeedback">
                            Su correo debe contener @ 
                          </div>
                        <div id="mensajeAyuda" class="form-text">Nunca vamos a compartir tu correó electrónico.</div>
                      
                        
                    </div>
                    <div class="mb-3">
                        <label for="mensaje" class="form-label "> Mensaje: </label>
                        <textarea type="text" class="form-control" name="mensaje" rows="3" id="mensaje" required></textarea>

                    </div>
                    <div  class="d-flex justify-content-center mt-5">
                    <button  onclick="botoni()" type="submit"  class="btn btn-primary btn-esteban disabled" id="btn-esteban">Enviar</button>

                    </div>
                </div>
                <input type="hidden" name="_next" value="http://localhost:8000/app/contacto">
                <input type="hidden" name="_template" value="table">
                <input type="hidden" name="_autoresponse" value="Solicitud recibida correctamente">
                <input type="hidden" name="_captcha" value="false">
                
            </form>
        </div>

        <div class="col-md-6">
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106445.58375075209!2d-70.81505580273438!3d-33.51634739999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662dba8434f1c85%3A0x7a18183612f49a8c!2sInmobiliaria%20Aconcagua%20-%20Edificio%20Celtus!5e0!3m2!1ses!2scl!4v1681933683029!5m2!1ses!2scl"
            class="test-iframe" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div> 
</div>

{% endblock %}
{% block js %}
<script src="{% static 'js/lindito.js'%}"></script>
{% endblock %}