{% extends 'layout.html' %}
{% load static %}
{% block title %} Hogares Deluxe {% endblock %}
{% block content %}

<div class="container-fluid container-full">
    <div class="row">
        <div class="col-md-12 no-padding">
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/DEPARTAMENTO-1V2.jpg' %}" class="d-block w-100" alt="Departamento 1">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                        <div class="container position-absolute bottom-0 start-50 translate-middle-x mb-5">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                      <h3 class="card-title"><b>Duplex</b></h3>
                                      <p class="card-text">Departamento de 2 pisos, distribución en 1º y 2º piso, ideal para compartir con un roommate o parejas con un hijo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/DEPARTAMENTO-2V2.jpg' %}" class="d-block w-100" alt="Departamento 2">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                        <div class="container position-absolute bottom-0 start-50 translate-middle-x mb-5">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                      <h3 class="card-title"><b>Loft</b></h3>
                                      <p class="card-text">Construcción de amplia superficie con escasas divisiones en su interior, de 1 o 2 pisos, pensado para personas solteras o parejas sin hijos.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/DEPARTAMENTO-3V2.jpg' %}" class="d-block w-100" alt="Departamento 3">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                        <div class="container position-absolute bottom-0 start-50 translate-middle-x mb-5">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                      <h3 class="card-title"><b>Penthouse</b></h3>
                                      <p class="card-text">Departamento en último piso con acceso a azotea que se transforma en patio privado, equipado en algunos casos con jacuzzi, tv, quincho y gran terraza. Ideal para familias por su gran metraje.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row align-items-center mb-4">
        <div class="col-md-7">
            <div class="heading-container">
                <h2>¡Conoce nuestras asociaciones!</h2>
                <div class="heading-decoration"></div>
            </div>
        </div>
    </div>
    <hr class="hr">
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light text-white">
                <a href="https://adi-ag.cl/" target="_blank">
                    <img src="{% static 'images/adi.png' %}" class="card-img cover bg-dark" alt="departamento 1">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light text-white">
                <a href="https://www.anfdgac.cl/" target="_blank">
                    <img src="{% static 'images/logo-nautica.png' %}" class="card-img cover bg-dark" alt="departamento 1">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light text-white">
                <a href="https://www.minvu.gob.cl/" target="_blank">
                    <img src="{% static 'images/logo-ministerio.png' %}" class="card-img cover bg-dark" alt="departamento 2">
                </a>
            </div>
        </div>
    </div>
</div>

<section class="full-dptos mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <img src="{% static 'images/COMPRAR-DEPARTAMENTO.png' %}" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <div class="s-deptos">
                                <h5 class="mb-3"><b>Comprar Departamento</b></h5>
                                <p class="card-text">Encuentra tu lugar con una experiencia de fotos inmersiva y la mayoría de las listas, 
                                    incluyendo cosas que no encontrarás en ningún otro lugar.</p>
                            </div>
                            <button type="button" class="btn btn-outline-primary mt-3"><b>Buscar departamentos</b></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <img src="{% static 'images/ARRENDAR-DEPARTAMENTO.png' %}" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <div class="s-deptos">
                                <h5 class="mb-3"><b>Arrendar Departamento</b></h5>
                                <p class="card-text">Estamos creando una experiencia en línea perfecta, desde comprar en la red de alquiler más grande,
                                    hasta aplicar y pagar la renta, además de distintos tipos de financiamiento.</p>
                            </div>
                            <button type="button" class="btn btn-outline-primary mt-3"><b>Encuentra departamentos</b></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid container-full mt-5 opciones">
    <div class="row">
        <div class="col-md-12 no-padding" style="min-height: 250px;">
            <section id="cta-seba" class="cta-seba">
                  <div class="text-center">
                    <h3><a href="futuros_proyectos">¡Conoce nuestros nuevos proyectos!</a></h3>
                    <p> Accede al link anterior para conocer más acerca de nuestros nuevos proyectos </p>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}