{% extends 'layout.html' %}
{% block title %} Local de Venta Ubicación {% endblock %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="row align-items-center mb-4">
        <div class="heading-container">
            <h2>¡Conoce nuestro local de venta!</h2>
            <div class="heading-decoration"></div>
        </div>
    </div>
    <hr class="hr">
    <div class="row">
        <div class="col-md-6">
            <form>
            <div class="card card-body formulario">
                <div class="mb-3">
                    <label for="nombreUsuario" class="form-label"> Nombre: </label>
                    <input type="text" class="form-control" id="nombreUsuario">
                </div>
                <div class="mb-3">
                    <label for="correoUsuario" class="form-label"> Correo: </label>
                    <input type="text" class="form-control" id="correoUsuario" placeholder="nombre@ejemplo.com" aria-describedby="mensajeAyuda">
                    <div id="mensajeAyuda" class="form-text">Nunca vamos a compartir tu correó electrónico.</div>
                </div>
                <div class="mb-3">
                    <label for="mensajeUsuario" class="form-label"> Mensaje: </label>
                    <textarea type="text" class="form-control" id="mensajeUsuario" rows="3"></textarea>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <button type="submit" class="btn btn-primary btn-esteban" disabled>Enviar</button>
                </div>
            </div>
            </form>
        </div>
        <div class="col-md-6">
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106445.58375075209!2d-70.81505580273438!3d-33.51634739999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662dba8434f1c85%3A0x7a18183612f49a8c!2sInmobiliaria%20Aconcagua%20-%20Edificio%20Celtus!5e0!3m2!1ses!2scl!4v1681933683029!5m2!1ses!2scl"
            class="test-iframe" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

{% endblock %}