.formulario{
    border-radius: 15px;
}

.btn-esteban {
    width: 50%;
}

.test-iframe {
    height: 100%;
    width: 100%;
}

.imgtop{   
    background-image: url('../images/CONTACTO.jpg');
    background-size:cover;
    background-position:center;
    height: 300px;
    width: 100%;  
    align-items: center;
    justify-content: center;      
}

.timg{
    background-image: url('../images/CONTACTO.jpg');
    background-size: cover;
    background-position: center;
    background-color: darkcyan;
    color: rgba(0,0,0,0);
    font-family: impact;
    -webkit-background-clip: text;
}

