.titulo{
    margin-left: 20px;
}
.ubi{
    margin-top: 50px;
    padding-left: 100px;
}
.ubi .rayita{
    width: 180px;
    height: 5px;
    color: #FEC60D;
}

.formulario{
    
    border-radius: 15px;
    width: 600px;
    height: 450px;
    margin-right: 50px;
    float: left;
    
  
}
.formulario input{
    border-color: #09044c;
    border-radius: 9px;
}
.formulario label{
    margin-top: 20px;
    font-weight: bold;
}

.formulario form{
    border-radius: 15px;
    border-color: black;
    margin-left: 20px;

}

button{
    width: 50%;
    margin-top: 20%;
    margin-left: 25%;

}

.imgtop{   
    background-image: url(https://cdn.pixabay.com/photo/2018/02/27/06/30/skyscrapers-3184798_1280.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;	
    height: 500px;
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;      
}

.timg{
 color: white;
}

