/*



    Estilos Axel
    línea 184 a 291





    
*/

.carousel-inner {
    max-width: 120rem;
}

.carousel-item {
  height: 300px !important;
}

/* .carousel-item img{
    height: 450px;
    width: 1800px;
} */

/* .container {
    justify-content: center;
    align-items: start;
} */
.text{
    margin-left: 8px;
}