.container-full {
    padding-left: 0 !important;
    padding-right: 0 !important;    
}

.carousel-item {
    height: 400px;
}

.carousel-item img {
    position: absolute;
    min-height: 400px;
}

.cover {
    object-fit: cover;
    height: 200px;
    background-color: #D3D3D3 !important;
}

.heading-container {
    display: flex;
    align-items: center;
}

.heading-decoration {
    display: inline-block;
    margin-left: 24px;
    width: 36px;
    height: 4px;
    background-color: #fec60d;
}

.cta-seba {
    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.9)), url("../images/IMG-INICIO-WIDTH-100.jpg") fixed center center;
    background-size: cover;
    padding: 60px 0;
}

.cta-seba h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}
  
.cta-seba p {
    color: #fff;
}